* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBAL STYLING FOR THE ICONS */
.menuicon {
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  color: gray !important;
}

.menuicon:hover {
  background-color: rgb(231, 231, 231);
  border-radius: 50%;
  color: rgb(48, 48, 48) !important;
}

.app {
  display: flex;
  flex-direction: column;
}

.non__header {
  display: flex;
  margin-top: 10px;
  height: calc(100% - 68px);
  justify-content: space-between;
}

.material-icons-outlined{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}