.loginscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
}

.loginscreen > img {
  object-fit: contain;
  height: 400px;
}

.loginscreen > .MuiButton-root {
  background-color: rgb(55, 104, 196);
}

.loginscreen > .MuiButton-root:hover {
  background-color: rgb(55, 104, 196);
}
